.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}




/* .slick-slide.slick-active.slick-cloned {
  width: 280px !important;
} */
.slidesection {
  background-color:
    #098A45;
  padding-left: 80px;
  padding-right: 80px;
}


.home-slide .swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {

  color: white;
  size: 10px;
}


.home-slide .swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: 'prev';
  color: white;
}

.swiper-slide {
  padding-left: 85px;
}

.custom .swiper-slide {
  padding-right: 45px !important;
  padding-left: 45px !important;
}


.purchaseList {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 300px;
  flex-wrap: wrap;
}

.setioncolor {
  background-color: red;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}